<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <div class="nav-wrapper navbar-egg">
    <a routerLink="/home" class="brand-logo center egg-logo"><img src="./assets/images/PokemonEggsNav.png" alt="Eggs Logo" class="responsive-img img-logo-egg"></a>
  </div>
</nav>
<div class="fixed-action-btn vertical">
  <a class="btn-floating btn-large egg-dot-red">
      <img src="./assets/images/Pokeball Icon.png" alt="Pokeball by Iconic from the Noun Project" class="responsive-img img-float-button">
    </a>
  <ul>
    <li><a routerLink="/home" class="btn-floating egg-dot-orange"><i class="material-icons text-egg-dot-yellow">home</i></a></li>
    <li><a routerLink="/eggs" class="btn-floating egg-dot-blue"><img src="./assets/images/EggIcon.png" alt="" class="responsive-img img-float-button-2"></a></li>
    <li><a routerLink="/pokemon" class="btn-floating egg-dot-pink"><i class="material-icons text-egg-dot-yellow">add_circle</i></a></li>
    <li><a routerLink="/stadistics" class="btn-floating egg-dot-violet"><i class="material-icons text-egg-dot-yellow">show_chart</i></a></li>
    <li><a class="btn-floating egg-dot-green"><i class="material-icons text-egg-dot-yellow">child_friendly</i></a></li>
    <li><a class="btn-floating egg-dot-purple"><i class="material-icons text-egg-dot-yellow">help</i></a></li>
  </ul>
</div>
<router-outlet></router-outlet>