<div class="stadistics-container">
  <div class="title-container center">
    <h4 class="title-stadistics">Stadistics</h4>
  </div>
  <div class="body-container">
    <div class="subtitle-container">
      <h4 class="subtitle">Whatch your hatching stadistics</h4>
      <p class="text-content">
        This space allow you to literally whatch your hatching stadistics, like how many eggs of one Pokémon did you hatch or compare
        them with other Pokémon. You can also see a global result of all your hatched eggs and maybe other fancy stuff.
      </p>
      <p>You have to load your Pokémon team info in <a routerLink="/eggs">My Eggs </a> to see your stadistics.</p>
    </div>
  </div>
</div>